<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a class="brand-logo center">Clock In</a>
        <a href="/admin"class="right waves-effect waves-light btn center" id="header-btn">Admin</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/">Clock In</a></li>
            <li><a href="/admin">Admin Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>