@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

  
.dash-container {
  width: 400px;
  margin-top: 5em;
  padding-top: 5em !important;
  margin-bottom: 50px;
  text-align: center !important;
}

.login-container {
  width: 400px !important;
  margin-top: 50px;
  text-align: center;
}
.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
.btn-block {
  width: 100%;
}
#header-btn {
  margin-top: 15px;
}
#txt{
  margin-top: 60px;
  margin-bottom: 120px;
  font-size: 140px;
  font-weight: 900;
  text-shadow: 0px 1px, 2px 0px, 2px 1px;
  letter-spacing: -15px;
  word-spacing: 2px;
  line-height: 8px;
  color: #FF7200;
  text-align: center;
}

.btn-center{
text-align: center !important;

}


body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 5em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}


@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}

